# Configuración mínima para backend (según DocumentacionBackend.TXT)
SECRET_KEY=clave_de_eddy
DB_NAME=postgres
DB_USER=usuario_de_supabase_de_eddy
DB_PASSWORD=password_de_eddy
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=5432
ALLOWED_HOSTS=127.0.0.1,localhost
